.parent-footer-wrapper {
  width: 100%;
  height: 48.5rem;
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
}

.footer-wrapper {
  width: 65%;
  display: flex;
  flex-direction: column;
  margin: 3rem 0rem;
}

.footer-top {
  display: flex;
  gap: 2rem;
}

.footer-top > div {
  /* width: 20%; */
}

.footer-logo-wrapper {
  display: flex;
  flex: 1.5;
  gap: 2rem;
}

.footer-logo-container {
  /* width: 12%; */
  flex: 1;
}

.footer-logo-container > img{
  width: 100%;
}

.school-details{
  /* width: 20.6rem; */
  flex: 2;
}

.school-details > p {
  margin-bottom: 0.8rem;
}

.school-details .school-name {
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #191919;
}

.school-details .school-motto {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #232C95;
}

.school-details .school-est {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #404040;
}


.quick-links {
  /* width: 15.3rem; */
  flex: 1;
}

.quick-links > ul {
  list-style: none;
}

.quick-links > p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #4A4A4A;
}

.quick-links > ul > li > a {
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #191919;
}

.contact-info {
  /* width: 25.1rem; */
  flex: 1;
  padding-right: 8rem;
}

.contact-info > p {
font-weight: 400;
font-family: Poppins;
font-size: 1.6rem;
line-height: 2.4rem;
letter-spacing: 0em;
text-align: left;
}

.contact-info > p.contact-phone {
  margin: 1rem 0rem;
}

.contact-info .section-title {
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.6rem;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.donate-section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.donate-section > p {
  font-family: Playfair Display;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.7rem;
  letter-spacing: 0em;
  text-align: left;
  margin: 2rem 0rem;
}

.footer-btn-donate {
  width: 15.6rem;
  height: 6rem;
  background-color: var(--primary-color);
  border: 1.4px solid var(--primary-color);
  border-radius: 0.4rem;
}

.footer-btn-donate > a {
  font-size: 2.4rem;
  text-decoration: none;
  color: white;
}

.footer-bottom {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.footer-bottom .border-line {
  border-top: 1px solid #CCCCCC;
  margin: 2rem 0;
}

.footer-bottom-first-half {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .footer-bottom-first-half > div {
  display: flex;
  gap: 2rem;
}

.footer-bottom .footer-bottom-first-half > div > p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #4A4A4A;
}

.footer-bottom-first-half > div > div {
  display: flex;
  align-items: center;
}

.footer-bottom-first-half > div > div > div {
  border-right: 1px solid #CCCCCC;
  height: 50%;
}

.social-media-icons {
  display: flex;
  align-items: center;
}

.social-media-icons > div {
  display: flex;
  gap: 3rem;
}

.credit {
  margin: 2rem 0rem;
}

.credit > div {
  display: flex;
  gap: 2rem;
}

.credit > div > p {
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
  letter-spacing: 0em;
  text-align: left;
  color: #4A4A4A;
}