@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header-container-wrapper {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 10%;
}

.logo-container > img {
  width: 8.2rem;
  height: 9.6rem;
}

.menu-items-container > ul  {
  display: flex;
}

.menu-items-container > ul > li {
  text-align: center;
  list-style: none;
  margin: auto 2.4rem;
  font-family: "Poppins";
  cursor: pointer;
}

.menu-items-container > ul > li > a {
  text-decoration: none;
  font-size: 2.4rem;
  color: #1A1A1A;
}

.btn-csr {
  width: 15.6rem;
  height: 6rem;
  color: var(--primary-color);
  background-color: white;
  text-transform: uppercase;
  border: 1.4px solid var(--primary-color);
  border-radius: 0.4rem;
}

.btn-csr > a {
  text-decoration: none;
  font-size: 2.4rem;
  color: #F54E39;
}

.btn-donate {
  width: 15.6rem;
  height: 6rem;
  background-color: var(--primary-color);
  border: 1.4px solid var(--primary-color);
  border-radius: 0.4rem;
}

.btn-donate > a {
  font-size: 2.4rem;
  text-decoration: none;
  color: white;
}

.menu-items-container > ul > button {
  margin-right: 3rem;
  cursor: pointer;
}

.heart {
  font-size: 3rem;
  margin: 0rem 0.1rem;
}